%div{:class => "selection-toolbar", :style => "display:none"}
  %a.plm-icon.icon-button.share{:title => "Share"}
  %a.plm-icon.icon-button.edit{:title => "Edit"}
  %a.plm-icon.icon-button.tag{:title => "Tag"}
  %a.plm-icon.icon-button.print{:title => "Print"}
  %a.plm-icon.icon-button.trash{:class => "to-trash", :title => "Send to Trash"}
