%div{:class => "selection-toolbar", :style => "display:none"}
  .icon-button
    %a{:title => "Share"}
      \&#128361
  .icon-button
    %a{:title => "Edit"}
      \&#9998;
  .icon-button
    %a{:title => "Tag"}
      \&#59148
  .icon-button
    %a{:title => "Print"}
      \&#59158
  .icon-button
    %a{:class => "to-trash", :title => "Send to Trash"}
      \&#59177
