%ul#trash-actions.button-group
  %li
    %a#trash-recover-selected.button.radius.disabled
      Recover Selected
  %li
    %a#trash-delete-selected.button.radius.disabled
      Delete Selected
  %li
    %a#trash-empty.button.radius
      Empty Trash
