%div{:class => "photo-manager/home/library/import"}
  %h4
    %span{:class => "import-size"} {{_.size(importImages)}} Photos
    %span{:class => "imported-timestamp"}
      != "Imported: {{importer.completed_at}}"

  %hr

  %div{:class => "photos-collection"}
    != '{% importImages.length && importImages.each(function(image) { %}'
    != '  {{ _.template(imageTemplate, { image : image, _ : _ }) }}'
    != '{% }); %}'
