%div{:class => "photo-manager/home/library/import"}
  %h4
    {{_.size(importImages)}} Photos
    %span{:class => "imported-timestamp"} Imported: 2012-12-07 11:46 PM

  %hr

  %div{:class => "photos-collection"}
    != '{% importImages.length && importImages.each(function(image) { %}'
    != '  {{ _.template(imageTemplate, { image : image, _ : _ }) }}'
    != '{% }); %}'
