#mainnav
  %nav
    %ul
      // Home (Property) icon
      %li
        %a.plm-icon.property1.disabled{:href => "#"}

      // Left/Right arrows
      %li.selected
        %a.plm-icon.ds.selected{:href => "#"}

      // Left/Right arrows
      %li
        %a.plm-icon.finance.disabled{:href => "#"}

      // Left/Right arrows
      %li
        %a.plm-icon.arrows.disabled{:href => "#"}

      // Left/Right arrows
      %li
        %a.plm-icon.calendar.disabled{:href => "#"}

      // Left/Right arrows
      %li
        %a.plm-icon.list.disabled{:href => "#"}

      // Left/Right arrows
      %li
        %a.plm-icon.music.disabled{:href => "#"}

      // Left/Right arrows
      %li
        %a.plm-icon.globe.disabled{:href => "#"}

      // Left/Right arrows
      %li
        %a.plm-icon.aperture.disabled{:href => "#"}

      // Left/Right arrows
      %li
        %a.plm-icon.gear.disabled{:href => "#"}

      // Sync
      %li
        %a{:href => "#", :class => "sync"}