%html
  %head
    %title About PLM
    = stylesheet_link_tag "about"
  %body
    %h1#logo
      %img{:src => '/imgs/PLM-Logo.png'}
    %h1 PLM
    #version
    %script{ "data-main" => "/js/app/about.js", :src => "/js/libs/require/require.js"}
