---
ignored: true
---
%section#wrapper

  %div#notifications-collection
    %div#notification
      Now uploading images
    %div#notification-percentage
      95%

  %h1#logo
    %img{:src => '/imgs/PLM-Logo.png'}

  -# %div#notifications-collection
    %div#notification
      Now uploading images
    %div#notification-percentage
      95%

  %nav#top-nav
    %ul
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Four-Box.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Camera-Blue.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Folders.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Video.png'}

  %nav#left-nav
    %ul
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Home-Solid.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Left-Right-Arrows.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Cabinet.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Calendar.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/List.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Music-Note.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Dollar.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Hollow-Home.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Globe.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Staggered-Boxes.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Steering-Wheel.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Gear.png'}
      %li
        %a{:href => '#'}
          %img{:src => '/imgs/Search.png'}

  %div#main-body
    -# %div#tertiary-nav
      %ul
        %li
          %a{:href => '#'}
            %img{:src => '/imgs/Add-Gallery.png'}
        %li
          %a{:href => '#'}
            %img{:src => '/imgs/Upload.png'}
        %li
          %a{:href => '#'}
            %img{:src => '/imgs/Tags.png'}
        %li
          %a{:href => '#'}
            %img{:src => '/imgs/Print.png'}
        %li
          %a{:href => '#'}
            %img{:src => '/imgs/Trash.png'}
        %li
          %a{:href => '#'}
            %img{:src => '/imgs/Settings.png'}

    -# %div#left-column
      %h3
        Library
        %img{:src => '/imgs/White-Arrow-Circle-Down.png'}

      %ul
        %li
          %a{:href => '#'}
            %img{:src => '/imgs/All-Photos-Blue.png'}
            <span class="selected">All Photos</span>
        %li
          %a{:href => '#'}
            %img{:src => '/imgs/Last-Import.png'}
            Last Import
        %li
          %a{:href => '#'}
            %img{:src => '/imgs/Uncategorized.png'}
            Uncategorized
        %li
          %a{:href => '#'}
            %img{:src => '/imgs/Library-Trash.png'}
            Trash

      %h3
        Galleries
        %img{:src => '/imgs/White-Arrow-Circle-Down.png'}

      %hr

      %ul#galleries-list
        %li
          %a{:href => '#'}
            %img{:src => '/imgs/Gallery.png', :class => 'gallery-icon'}
            Homes
            %div.gallery-caption
              A gallery of my homes around the world.
              %img{:src => '/imgs/Gray-Circle-Down.png', :class => 'gray-circle'}

        %li
          %a{:href => '#'}
            %img{:src => '/imgs/Gallery.png', :class => 'gallery-icon'}
            Travel
            %div.gallery-caption
              A gallery of everywhere I travel.
              %img{:src => '/imgs/Gray-Circle-Down.png', :class => 'gray-circle'}

      // Search
      %div#search-collection
        %hr
          %input{:type => 'text', :id => 'search-box'}

    %div#right-column

      -# %h4
        6 Photos <span class="imported-timestamp">Imported: 2012-12-07 11:46 PM</span>

      -# %hr

      -# %div.photos-collection

        %div.photo
          %img{:src => 'http://placehold.it/132x132', :class => 'photo-thumbnail'}
          %div.photo-caption
            %img{:src => '/imgs/Checkbox.png'}
            1990.jpg
            %img{:src => '/imgs/Pencil.png', :class => 'edit-photo'}

        %div.photo
          %img{:src => 'http://placehold.it/132x132', :class => 'photo-thumbnail'}
          %div.photo-caption
            %img{:src => '/imgs/Checkbox.png'}
            1990.jpg
            %img{:src => '/imgs/Pencil.png', :class => 'edit-photo'}

        %div.photo
          %img{:src => 'http://placehold.it/132x132', :class => 'photo-thumbnail'}
          %div.photo-caption
            %img{:src => '/imgs/Checkbox.png'}
            1990.jpg
            %img{:src => '/imgs/Pencil.png', :class => 'edit-photo'}

        %div.photo
          %img{:src => 'http://placehold.it/132x132', :class => 'photo-thumbnail'}
          %div.photo-caption
            %img{:src => '/imgs/Checkbox.png'}
            1990.jpg
            %img{:src => '/imgs/Pencil.png', :class => 'edit-photo'}

        %div.photo
          %img{:src => 'http://placehold.it/132x132', :class => 'photo-thumbnail'}
          %div.photo-caption
            %img{:src => '/imgs/Checkbox.png'}
            1990.jpg
            %img{:src => '/imgs/Pencil.png', :class => 'edit-photo'}

        %div.photo
          %img{:src => 'http://placehold.it/132x132', :class => 'photo-thumbnail'}
          %div.photo-caption
            %img{:src => '/imgs/Checkbox.png'}
            1990.jpg
            %img{:src => '/imgs/Pencil.png', :class => 'edit-photo'}

      -# %h4
        6 Photos <span class="imported-timestamp">Imported: 2012-12-07 11:46 PM</span>

      -# %hr

      -# %div.photos-collection

        %div.photo
          %img{:src => 'http://placehold.it/132x132', :class => 'photo-thumbnail'}
          %div.photo-caption
            %img{:src => '/imgs/Checkbox.png'}
            1990.jpg
            %img{:src => '/imgs/Pencil.png', :class => 'edit-photo'}

        %div.photo
          %img{:src => 'http://placehold.it/132x132', :class => 'photo-thumbnail'}
          %div.photo-caption
            %img{:src => '/imgs/Checkbox.png'}
            1990.jpg
            %img{:src => '/imgs/Pencil.png', :class => 'edit-photo'}

        %div.photo
          %img{:src => 'http://placehold.it/132x132', :class => 'photo-thumbnail'}
          %div.photo-caption
            %img{:src => '/imgs/Checkbox.png'}
            1990.jpg
            %img{:src => '/imgs/Pencil.png', :class => 'edit-photo'}

        %div.photo
          %img{:src => 'http://placehold.it/132x132', :class => 'photo-thumbnail'}
          %div.photo-caption
            %img{:src => '/imgs/Checkbox.png'}
            1990.jpg
            %img{:src => '/imgs/Pencil.png', :class => 'edit-photo'}

        %div.photo
          %img{:src => 'http://placehold.it/132x132', :class => 'photo-thumbnail'}
          %div.photo-caption
            %img{:src => '/imgs/Checkbox.png'}
            1990.jpg
            %img{:src => '/imgs/Pencil.png', :class => 'edit-photo'}

        %div.photo
          %img{:src => 'http://placehold.it/132x132', :class => 'photo-thumbnail'}
          %div.photo-caption
            %img{:src => '/imgs/Checkbox.png'}
            1990.jpg
            %img{:src => '/imgs/Pencil.png', :class => 'edit-photo'}

  %footer#footer
    -# Footer
