@include font-face("entypo", "entypo-webfont");

header, footer, aside, nav, article, section, main {
  display: block;
}

// Need these for sticky footer
html, body {
  height: 100%;
  margin: 0;
  min-width: 1024px;
  overflow-x: hidden;
}

body {
  color: $white;
  font-family: Helvetica;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: $white;

  &:hover { color: $blue; }
}

.selected {
  color: $blue;
}

hr {
  border: 0;
  border-top: 1px solid $emboss-dark;
  height: 1px;
  background-color: #363636;
}

#logo {
  position: fixed;
  z-index: 1000;
  top: 10px;
  right: 10px;
}

#container {
  height: 100%;

  .icon-button {
    @include borderRadius(5px);
    width: 30px;
    height: 30px;
    font-family: 'entypo';
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    color: #989898;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    background: $left-column-gray-bg;

    a {
      display: block;
      font-family: 'entypo';
      font-size: 40px;
      color: #989898;

      &:hover { color: $blue; }
    }

    &:hover, &.selected { color: $blue; }
  }

  // Tertiary title bars
  .title-bar {
    @include backgroundGradient(linear-gradient(bottom,#393939,#494949));
    @include boxShadow(1px 1px 0 #1f1f1f, inset 0px 1px 0px rgba(255, 255, 255, 0.14));

    height: 42px;
    position: fixed;
    top: 60px;
    left: 60px;
    width: 100%;

    // Background Gradient
    background-color: #292929;
    border-left: none;
  }

  #page-title-collection {
    display: inline-block;
    width: 380px;
    padding-left: $small-spacing;

    #hamburger-button {
      @include textShadow(1px 2px 2px #000);
      font-size: 60px;
      &.active { color: #6dcff6; }
    }
  }

  h1 {
    font-size: 25px;
    font-family: Helvetica;
    margin-top: 8px;
    margin-left: $small-spacing;
  }

  #search-gear-collection {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 190px;
  }

}

.select-all {
  display: inline-block;
}

.plm-cb-label {
  .plm-cb {
    display:none;

    &:checked + span { background-position: -18px 0; }
  }

  cursor: pointer; 
  display: inline-block; 
  margin: 0 0 0 15px;

  & .cb-text {
    display: inline-block;
    font-size: 1.2em;
  }

  & .cb-img {
    margin: -3px 6px 0 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    cursor: pointer;
    background: url('../imgs/plm-cb-sprite.png') 0 0 no-repeat;
  }
}

.selection-toolbar { float: right; }

.main-select-all { float: left; }

.photo-edit-panel {
  //@include boxShadow(inset 3px 0px 1px -2px rgba(200,200,200,0.3));
  display: block;
  float: left;
  width: 50%;
  padding: 0 20px;
  height: 100%;
  background: #555;
  border-left: 1px solid #111;

  .edit-image {
    @include boxShadow(0px 2px 5px rgba(0,0,0,0.8));
    display: block;
    border: 1px solid #111;
    width: 90%;
    height: 60%;
    overflow: hidden;
    margin: $leading auto;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    div {
      margin: -3em -4em;
      position: relative;
      max-width: none;
      height: auto;
    }
  }

  .edit-header {
    width: 90%;
    margin: 0 auto $leading/2;
    border-bottom: 1px solid #111;

    .edit-title {
      font-size: 30px;
      float:left;
    }

    .edit-actions {
      float: right;
      margin-bottom: $leading/2;
    }
  }

  .edit-form {
    width: 90%;
    margin: 0 auto;

    label, input {
      float: left;
    }
    label { width: 30%; font-size: 13px; color: #d0d0d0;}
    input { width: 70%; &:after { @include group; } }
    textarea { display: inline-block; width: 70%; }

    .row {
      @include group;
      margin-bottom: 2px;
      span { display: block; width: 70%; float: left; margin-bottom: 5px; &:after { @include group; } }
    }
  }

  .edit-input, .edit-ta {
    @include borderRadius(3px);
    @include boxShadow(1px 1px 3px rgba(0,0,0,0.5));
    background: #333;
    border: none;
    color: #d0d0d0;
  }
  .edit-form-buttons { margin-top: $leading/2; text-align: right; }
  .edit-button {
    @include backgroundGradient(linear-gradient(top, #555, #222));
    display: inline-block;
    border: 1px solid #111;
    padding: 8px 6px;
    margin-left: 6px;
    cursor: pointer;

    &:hover { color: $blue; }
  }

  .edit-actions {
    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 40px;
      font-family: 'entypo';
      cursor: pointer;
    }
  }
}

header {
  height: 60px;
  background: black;
  padding-left: 60px;
  position: fixed;
  width: 100%;
  z-index: 10;

  ul {
    height: 60px;
    overflow: hidden;

    li {
      float: left;
      font-family: 'entypo';
      font-size: 50px;
      width: 50px;
      text-align: center;
      border-top: 5px solid $black;

      a {
        font-family: 'entypo';
        font-size: 50px;
        display: block;
      }

      &:hover, &.selected {
        color: $blue;
        background: $right-column-gray-bg;
        border-top: 5px solid $blue;
      }
    }
  }

  div#notifications-collection {
    // border: 1px solid red
    color: $white;
    width: 300px;
    display: block;
    position: absolute;
    top: 24px;
    right: 80px;
    @include clearfix;
    display: none;
  }

  div#notification {
    float: left;
    text-align: right;
    // border: 1px dashed green;
    width: 230px;
    margin-top: 4px;
    font-size: 11px;

    -webkit-animation-name: pulse;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
  }

  div#notification-progress {
    float: right;
    // border: 1px dashed blue
    // display: inline
    width: 50px;
    font-size: 20px;

    -webkit-animation-name: pulse;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
  }
}


footer {
  @include clearfix;
  height: 30px;
  background: black;
  padding-left: 60px;
  line-height: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;

  .footer-left { float: left; }
  .footer-right { float: right; }

  ul {

    li { float: left; font-size: 10px }

    li:after {
      content: "|";
      margin-left: 5px;
      margin-right: 10px;
    }

    li:last-child:after { content: ""; }

    // Special case for London location in footer
    li.location { margin-right: $standard-spacing*3 }
    li.location:after { content: "" }
  }
}

#account-collection { float: left; }
#weather-collection { float: right; }

#row {
  height: 100%;
  background: $black;
  padding-top: 102px;
}


// Main nav
.navIcon {
  font-family: 'entypo';

  &.home:before { content: "\2302"; }
  &.arrows:before { content: "\21C6"; }
  &.files:before { content: "\E800"; }
  &.calendar:before { content: "\1F4C5"; }
  &.list:before { content: "\E005"; }
  &.music:before { content: "\266B"; }
  &.dollars:before { content: "\1F53E"; }
  &.globe:before { content: "\1F30E"; }
  &.jumbled:before { content: "\268F"; }
  &.sync:before { content: "\1F504"; }
  &.gears:before { content: "\2699"; }

  &.four:before { content: "\F601"; }
  &.lightbulb:before { content: "\1F4A1"; }
  &.thermostat:before { content: "\1F4FF"; }
  &.key:before { content: "\1F511"; }

  &.shield:before { content: "\1F512"; }
  &.camera:before { content: "\1F4F7"; }
  &.computer:before { content: "\1F4BB"; }
  &.plug:before { content: "\26A1"; }
  &.cloud:before { content: "\2601"; }
  &.storage:before { content: "\1F4F8"; }
}

nav {
  width: 60px;
  background: $black;
  position: fixed;
  height: 100%;
  top: 60px;
  z-index: 10;

  ul {
    height: 100%;

    li {
      font-family: 'entypo';
      font-size: 50px;
      width: 60px;
      cursor: pointer;
      text-align: center;
      border-left: 5px solid $black;
      border-right: 5px solid $black;
      cursor: pointer;
    }

    a {
      font-family: 'entypo';
      font-size: 50px;
      display: block;
    }

    li:hover, li.selected {
      color: $blue;
      background: $left-column-gray-bg;
      border-right: 5px solid $left-column-gray-bg;
      border-left: 5px solid $blue;
    }
  }
}


main {
  background: $right-column-gray-bg;
  padding-left: 60px;
  height: 100%;

  #content {
    position: relative;
    min-height: $min-body-height;
    background: $right-column-gray-bg;
    border-left: 1px solid $emboss-light;
    height: 100%;
    white-space: nowrap;

    #left-column {
      width: 380px;
      background: $left-column-gray-bg;

      #lighting-load {
        margin-left: 15px;
        padding-top: 20px;
      }
    }

    #middle-column {
      background: #474747;
      &.half { width: 50%; height: 100%; display: block; float: left; }

      &.surveillance { width: 300px; height: 100%; display: block; float: left; }

      #floorplan {
        padding-top: 40px;
        margin-left: 40px;

        img {
          width: 700px;
        }

        // Light on map
        .light, .video {
          width: 100px;
          cursor: pointer;

          .title {
            font-size: 15px;
            text-align: center;
          }

          .title:hover {
            color: $blue;
          }

          .icon {
            font-family: 'entypo';
            font-size: 40px;
            text-align: center;

            &:hover { color: $blue; }
          }
        }

        .light:hover {
          $color: $blue;
        }

        // Kitchen Light
        div#kitchen-light, div#kitchen-video {
          margin-top: -320px;
          margin-left: 130px;
        }

        // Dining Room
        div#dining-light, div#dining-video {
          margin-top: 55px;
          margin-left: 90px;
        }

        // Living Room
        div#living-light, div#living-video {
          margin-top: -40px;
          margin-left: 220px;
        }

        // Entertainment Room
        div#entertainment-light, div#entertainment-video {
          margin-top: 0px;
          margin-left: 410px;
        }

        // Patio
        div#patio-light, div#patio-video {
          margin-top: -300px;
          margin-left: 460px;
        }
      }
    }

    #right-column {
      border: 1px dashed red;
      width: 380px;
    }
  }
}

aside {
  background: $right-column-gray-bg;
}

#pageslide {
  display: none;
  position: fixed;
  top: 103px;
  height: 100%;
  z-index: 1;
  width: 300px;
  background-color: #1d1d1d;
  color: #fff;
}

#hamburger {
  display: none;

  a { cursor: pointer; }
}

.gallery-header {
  padding: $leading 0 $leading;
  &:hover { background: #2a2a2a; }
}

.import-collection, .trash-photos {
  color: #d0d0d0;
  margin-bottom: $leading;
}
.import-photos-container {
  width: 9999px;
}

.import-header, .trash-photos-header {
  padding-bottom: $leading/2;
  margin-bottom: $leading/2;
  border-bottom: 1px solid #111;
}

.image-count, .import-count { float: left; text-transform: uppercase; font-size: 14px; }
.import-date {
  float: left;
  margin-left: 10px;

  font-size: 14px;
  span { font-weight: bold; text-transform: uppercase; margin-right: 5px; }
}

.hamburger-section {

  &.first { @include boxShadow(0px 3px 1px -2px rgba(100,100,100,0.3)); border-bottom: 1px solid #111; }

  .gallery-section-title {
    font-size: 20px;
    float: left;
    margin: 0 0 0 6px;

    .add-gallery {
      @include textShadow(1px 2px 2px #000);
      display: inline-block;
      width: 30px;
      height: 18px;
      line-height: 20px;
      margin-left: 10px;
      font-size: 50px;
      font-family: 'entypo';

      &:before { content: "\E003"; }
    }
  }

  .headericon {
    font-family: 'entypo';
    color: $white;
    font-size: 50px;
    float: left;
    line-height: 40%;
    margin-left: 11px;
    &:before { content: "\E760"; }
  }

  .gallery {
    @include group;
    margin: 0 0 $leading 0;
    cursor: pointer;

    .album-icon {
      display: block;
      float: left;
      font-family: 'entypo';
      font-size: 50px;
      line-height: 30px;
    }
    .gallery-pip {
      display: block;
      float: left;
      width: 20px;
      height: 20px;
      font-family: 'entypo';
      font-size: 50px;
      line-height: 20px;
      margin-left: 20px;


      &.closed:before { content: "\E762"; }
      &.open:before { content: "\E760"; }
    }

    .gallery-title {
      margin-left: 80px;
      font-size: 18px;
    }

    > span {
      font-size: 10px;
      margin-left: 10px;
      display: block;
      float: left;
    }
    ul { @include boxShadow(0px 3px 1px -2px rgba(100,100,100,0.3)); border-bottom: 1px solid #111; margin-top: $leading; }
  }

  .album {
    @include boxShadow(0px -3px 1px -2px rgba(100,100,100,0.3));
    border-top: 1px solid #111;
    padding: $leading/2 0 $leading/2 50px;
    background: #131313;

    img { float: left; margin-bottom: 10px; }
    .album-title {
      font-weight: bold;
      font-size: 14px;
      margin-left: 46px;

      &:hover { color: $blue; }
    }
    .album-date { display: block; float: left; clear:right; margin-bottom: $leading/2; margin-left: 10px; font-size: 12px;}
    .album-description { float: left; margin-left: 10px; font-size: 12px; }
  }
}



.hamburger-header-item {
  @include clearfix;
  padding: $leading 0 $leading/2;
  padding-left: 20px;

  &:hover {
    background: #2a2a2a;
    color: $blue;
  }

  .icon {
    font-family: 'entypo';
    color: $white;
    font-size: 50px;
    float: left;
    line-height: 40%;

    &.header:before { content: "\E760"; }
  }

  h2 {
    font-size: 20px;
    float: left;
    margin-left: 6px;
  }
}


.hamburger-item {
  @include clearfix;
  padding: $leading/2 0 $leading/2 50px;

  &:hover {
    background: #2a2a2a;
    color: $blue;
  }

  .icon {
    font-family: 'entypo';
    font-size: 40px;
    float: left;
    line-height: 60%;

    &.photos:before { content: "\1F304"; }
    &.lastimport:before { content: "\1F304"; }
    &.uncategorized:before { content: "\E777"; }
    &.trash:before { content: "\E729"; }
  }

  .text {
    margin-left: 15px;
    float: left;

    .title {
      font-size: 18px;
    }
  }
}

.hamburger-item.photos {
  margin-padding: 5px;
  height: 40px;

  .icon {
    margin-top: -12px;
  }
}

.library-buttons {
  float: left;
  margin: -6px 0 0 12px;

  a {
    @include textShadow(1px 2px 2px #000);
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 40px;
    font-family: 'entypo';
  }
  #import-button {  }
  #sync-button {  }
}


// Surveillance
#surveillance-collection {
  padding: $standard-spacing;
  padding-bottom: 0;

  .surveillance-medium-thumb {

    .surveillance-medium {
      border: 1px solid black;
      width: 340px;
    }

    .surveillance-medium:hover {
      border: 1px solid white;
    }

    .surveillance-thumb-overlay {
      @include rgba-background($black, 0.4);
      color: $white;
      font-size: 10px;
      padding: $small-spacing;
      width: 340px;
      margin-top: -33px;
      z-index: 200;
      position: absolute;
    }
  }

  .surveillance-medium-thumb-title {
    color: $white;
    text-align: center;
    padding: $small-spacing;
  }
}


#surveillance-thumbs-collection {
  @include clearfix;
  padding: $standard-spacing $standard-spacing;
  margin-top: 0;

  .surveillance-small-thumb {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;

    .surveillance-small {
      border: 1px solid black;
      width: 165px;
      height: 125px;

      &:hover { border: 1px solid white; }
    }


    .surveillance-small-thumb-overlay {
      @include rgba-background($black, 0.4);
      color: $white;
      font-size: 10px;
      padding: $small-spacing/2;
      width: 165px;
      margin-top: -23px;
      z-index: 200;
      position: absolute;
    }
  }
}

.photos-header {
  padding: $leading 0 0 10px;
  overflow: hidden;
  min-height: 75px;

  h2 { font-size: 25px; float: left; }

}

.photos-collection {
  @include clearfix;
  margin-left: $standard-spacing - 5px;
  margin-bottom: $standard-spacing * 2;
}


.photo {
  padding: $small-spacing;
  float: left;

  .photo-edit & { cursor: pointer; }

  &:hover {
    @include boxShadow(0px 0px 10px #333333);
    background: $highlighted-gray-bg;

    .edit-photo {
      display: block;
    }
  }
  .photo-thumbnail {
    border: 1px solid black;
  }
}

// Right column photo labels: 13px Arial bold
.photo-caption {
  font-size: 13px;
  font-family: Arial;
  font-weight: bold;
  color: $gray-text;
  margin-top: $small-spacing;

  img {
    margin-bottom: -5px;
    margin-right: $small-spacing;
  }

  .edit-photo {
    float: right;
    margin-right: 0;
    display: none;
  }
}
