
.photos-header {
  padding: $standard-spacing;

  h2 {
    font-size: 25px;
  }
}


.import {
  h4 {
    color: $gray-text;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: $standard-spacing;
    margin-top: $small-spacing;
  }


  .imported-timestamp {
    margin-left: $standard-spacing*2;
  }
}

.photos-collection {
  @include clearfix;
  margin-left: $standard-spacing - 5px;
  margin-bottom: $standard-spacing * 2;
}


.photo {
  padding: $small-spacing;
  float: left;

  img.photo-thumbnail {
    border: 1px solid black;
  }
}





.photo:hover {
  @include boxShadow(0px 0px 10px #333333);
  background: $highlighted-gray-bg;
  img.edit-photo {
    display: block;
  }
}

// Right column photo labels: 13px Arial bold
.photo-caption {
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    color: $gray-text;
    margin-top: $small-spacing;

    img  {
      margin-bottom: -5px;
      margin-right: $small-spacing;
    }


    img.edit-photo {
      float: right;
      margin-right: 0;
      display: none;
    }
  }




