/*
 * _photoSet.scss: Styling of photo sets. Could be used for an import, last search, uncategorized, trash etc.
 *  Mostly mixins.
 */

/*
 * Photo set collection: Container for photo-set-header, and photo-set-photos-collection.
 */
@mixin photo-set-collection {
  color: #d0d0d0;
  overflow: hidden;
}

/*
 * Photo Set header.
 */
@mixin photo-set-header {
  padding-bottom: $leading/2;
  margin-bottom: $leading/2;
  border-bottom: 1px solid #111;
}

/*
 * Photo Set header - twirl down within the header.
 */
@mixin photo-set-pip {
  width: 19px;
  height: 19px;
  display: inline-block;
  cursor: pointer;
  background: url('/imgs/import-pip-sprite.png') -19px 0 no-repeat;
  float: left;
  margin-right: 5px;

  &.open {
    background-position: 0 0;
  }
}

/*
 * Photo Set header - size of the photo set.
 */
@mixin photo-set-size {
  float: left; text-transform: uppercase; font-size: 14px; 
}

/*
 * Photo Set header - date associated with the photo set.
 */
@mixin photo-set-date {
  float: left;
  margin-left: 10px;

  font-size: 14px;
  span { font-weight: bold; text-transform: uppercase; margin-right: 5px; }
}

/*
 * Collection of phots with the photo set.
 */
@mixin photo-set-photos-collection {
  //
  // Font size to zero to get rid of space between photo cells.
  //
  font-size: 0;
  white-space: nowrap;

  &.open {
    white-space: normal;
  }

  &.photo-set-clip-overflow-cells {
    overflow: hidden;
  }

  .photo {
    display: inline-block;
    // border: 1px solid red;
    padding: $small-spacing;
    width: 160px;
    min-height: 160px;

    .photo-edit & { cursor: pointer; }

    &:hover {
      @include boxShadow(0px 0px 10px #333333);
      background: $highlighted-gray-bg;

      .edit-photo {
        display: block;
      }
    }

    $photo-cell-width: 140px;

    .photo-thumbnail-cell {
      width: $photo-cell-width;
      height: 134px;
      text-align: center;
      font-size: 0;

      &:before {
        content: '';
        display: inline-block;
        box-sizing: content-box;
        margin: 0;
        border: 0;
        padding: 0;
        width: 0px;
        height: 134px;
        vertical-align: middle;
      }

      .photo-thumbnail {
        display: inline-block;
        box-sizing: content-box;
        border: 1px solid black;

        &.square-orientation {
          width: 132px;
          height: 132px;
        }

        &.portrait-orientation {
          height: 132px;
        }

        &.landscape-orientation {
          width: 132px;
          vertical-align: middle;
        }

      }
    }
  }

  .photo[data-import-status="imported"] {
    .photo-link {
      cursor: pointer;
    }
  }

  .photo:hover {
    @include boxShadow(0px 0px 10px #333333);
    background: $highlighted-gray-bg;
    img.edit-photo {
      display: block;
    }
  }

}
