.PMTagDialog {
  @include boxShadow(0px 0px 3px #111);

  border: 1px solid #111;
  position: absolute;
  top: 10%;
  left: 30%;
  width: 500px;
  background: #222;
  overflow: hidden;
  z-index: 10;

  .tagTitle {
    @include backgroundGradient(linear-gradient(top,#555,#444));
    @include boxShadow(0px 1px 2px #111);
    font-size: 1.675em;
    line-height: 1.75em;
    padding-left: 35px;
    position: relative;
    margin: 0;

    .plm-icon {
      position: absolute;
      top: 2px;
      left: 1px;
    }
  }

  input {
    @include borderRadius(4px);
    @include boxShadow(1px 1px 2px rgba(200,200,200,0.5), inset -1px -1px 3px #000);

    display: block;
    border: none;
    background: #141414;
    width: 100%;
    color: #fff;
    font-size: 1em;
    height: 20px;
    margin-bottom: $leading;

    &.placeholding {
      color: $blue;
      font-size: 1.25em;
      font-style: italic;
    }
  }

  .tagBody {
    padding: 15px;
  }

  .tagCloud {
    @include borderRadius(4px);

    background: #444;
    padding: 10px;
    margin-bottom: $leading;
    min-height: 60px;
  }

  .tagButtons {
    text-align: right;
    .plm-button {
      width: 85px;
      margin-left: 10px;

      .plm-icon {
        position: absolute;
        &.plus { top: 3px; left: 9px; }
        &.x { top: 2px; left: 0px; }
      }

      &:hover {
        .plus { background-position: -30px -1050px; }
        .x { background-position: -30px -1080px; }
      }
    }
  }

  ul {
    list-style: disc;
    li {
      list-style: disc;
      display: inline-block;
      margin-right: 10px;
      line-height: 1.75em;

      span {
        @include borderRadius(3px);

        display: inline-block;
        color: #fff;
        padding-top: 1px;
        padding-left: 3px;
        line-height: 90%;
        font-weight: bold;
        display: inline-block;
        width: 15px;
        margin-left: 8px;
        margin-top: 2px;
        height: 15px;
        cursor: pointer;
        float: right;
        border: 1px solid #333;

        &:hover {
          background: #fff;
          color: $blue;
        }

      }

      &:after {

      }
    }
  }
}

.tagDialogBackdrop,
.trashDialogBackdrop,
.emptyDialogBackdrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}