- content_for :page_name do
  = "Photo Manager"
- content_for :view_name do
  = "photo-manager"
- content_for :action_name do
  = "show"

- content_for :hamburger_items do
  %div.hamburger-item.photos
    %div.icon
      // Photos
      \&#127748
    %div.text
      %div.title
        All Photos

  %div.hamburger-item.photos
    %div.icon
      // Photos
      \&#127748
    %div.text
      %div.title
        Last Import

  %div.hamburger-item.photos
    %div.icon
      // Photos
      \&#59255
    %div.text
      %div.title
        Uncategorized

  %div.hamburger-item.photos
    %div.icon
      // Photos
      \&#59177
    %div.text
      %div.title
        Trash

-# %div#left-column

%div#middle-column
