- content_for :page_name do
  = "Photo Manager"
- content_for :view_name do
  = "photo-manager"
- content_for :action_name do
  = "show"
- content_for :view_specific_styles do
  = stylesheet_link_tag "photo-manager"

- content_for :hamburger_items do
  %div.hamburger-header-item.lead
    .icon.header
    %h2 Library
    .library-buttons
      %a#import-button &#128228
      %a#sync-button &#128260
  %div.hamburger-item
    .icon.photos
    %div.text
      %a{:href => "/photos#home/library/all-photos", :class => "title"}
        All Photos

  %div.hamburger-item
    .icon.lastimport
    %div.text
      %a{:href => "/photos#home/library/last-import", :class => "title"}
        Last Import

  %div.hamburger-item
    .icon.lastimport.last-search
    %div.text
      %a{:href => "/photos#home/library/last-search", :class => "title"}
        Last Search

  %div.hamburger-item
    .icon.uncategorized
    %div.text
      %a{:href => "/photos#home/library/uncategorized", :class => "title"}
        Uncategorized

  %div.hamburger-item
    .icon.trash
    %div.text
      %a{:href => "/photos#home/library/trash", :class => "title"}
        Trash

#middle-column

/**** Temporary - Needs refactoring *******/

// Tag Dialog
%div#tagDialog.PMTagDialog{:style => "display:none;"}
  %h1.tagTitle
    %div.plm-icon.selected.tag
    Add New Tag
  %div.tagBody
    %div.tagInputError{:style => "display:none;"}
    %input.tagInput
    %div.tagCloud
      %ul
        %li
    %div.tagButtons
      %div.plm-button.cancel
        %div.plm-icon.x
        Cancel
      %div.plm-button.confirm
        %div.plm-icon.plus
        Add
%div.tagDialogBackdrop{:style => "display:none;"}

%div.plm-dialog.pm-trash{:style => "display:none;"}
  %h1
    %div.plm-icon.selected.trash
    Confirm Trash
  %div.dialog-content
    %div.dialog-body
      %p Are you sure you want to send the selected photo(s) to the trash?
    %div.dialog-buttons
      %div.plm-button.confirm Yes
      %div.plm-button.cancel Cancel
%div.trashDialogBackdrop{:style => "display:none;"}

%div.plm-dialog.pm-empty{:style => "display:none;"}
  %h1
    %div.plm-icon.selected.trash
    Empty Trash
  %div.dialog-content
    %div.dialog-body
      %p Are you sure you want to empty the trash? These photos cannot be recovered.
    %div.dialog-buttons
      %div.plm-button.confirm Yes
      %div.plm-button.cancel Cancel
%div.emptyDialogBackdrop{:style => "display:none;"}

%div.plm-dialog.pm-import-in-progress{:style => "display:none;"}
  %h1
    Image Import
  %div.dialog-content
    %div.dialog-body
      %p There is already an impage import in progress. Please, let the current import complete before importing more images.
    %div.dialog-buttons
      %div.plm-button.ok Ok
%div.importInProgressDialogBackdrop{:style => "display:none;"}

%div.plm-dialog.pm-cancel-import{:style => "display:none;"}
  %h1
    Confirm Import Cancel
  %div.dialog-content
    %div.dialog-body
      %p Are you sure you want to cancel the current import?
    %div.dialog-buttons
      %div.plm-button.confirm Yes
      %div.plm-button.cancel Cancel
%div.cancelImportDialogBackdrop{:style => "display:none;"}

%div.clearfix
