- content_for :page_name do
  = "Photo Manager"
- content_for :view_name do
  = "photo-manager"
- content_for :action_name do
  = "show"
- content_for :view_specific_styles do
  = stylesheet_link_tag "photo-manager"

- content_for :hamburger_items do
  %div.hamburger-header-item
    .icon.header
    %h2 Library
    .library-buttons
      %a#import-button &#128228
      %a#sync-button &#128260
  %div.hamburger-item
    .icon.photos
    %div.text
      %a{:href => "/photos#home/library/all-photos", :class => "title"}
        All Photos

  %div.hamburger-item
    .icon.lastimport
    %div.text
      %a{:href => "/photos#home/library/last-import", :class => "title"}
        Last Import

  %div.hamburger-item
    .icon.lastimport
    %div.text
      %a{:href => "/photos#home/library/last-search", :class => "title"}
        Last Search

  %div.hamburger-item
    .icon.uncategorized
    %div.text
      %a{:href => "#", :class => "title"}
        Uncategorized

  %div.hamburger-item
    .icon.trash
    %div.text
      %a{:href => "/photos#home/library/trash", :class => "title"}
        Trash

#middle-column
